{% extends 'gimnasio/base.html' %}
{% load static %}


{% block contenido %}
    <h1>Lista de Alumnos</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Altura</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.edad }}</td>
                <td>{{ alumno.altura }}</td>
                <td>{{ alumno.correo }}</td>
                <td>
                    <a href="{% url 'gimnasio:alumno-detail' alumno.pk %}">Ver Detalles</a> | 
                    <a href="{% url 'gimnasio:alumno-edit' alumno.pk %}">Editar</a> | 
                    <a href="{% url 'gimnasio:alumno-delete' alumno.pk %}">Eliminar</a>                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay alumnos registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
