{% extends 'gimnasio/base.html' %}
{% load static %}


{% block contenido %}
    <h1>{% if alumno %}Editar Alumno{% else %}Nuevo Alumno{% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        
        {{ form.as_p }} 

        <label for="dias_asistencia">Días de asistencia:</label><br>
        {% for dia in dias %}
            <input type="checkbox" id="dias_asistencia" name="dias_asistencia" value="{{ dia.id }}" 
                {% if dia in alumno.dias_asistencia.all %}checked{% endif %}>
            <label for="{{ dia.id }}">{{ dia.dia }}</label><br>
        {% empty %}
            <p>No hay días de asistencia disponibles.</p>
        {% endfor %}
        
        <button type="submit">Guardar</button>
    </form>
    <p><a href="{% url 'gimnasio:alumno-list' %}">Volver a la lista de alumnos</a></p>
{% endblock contenido %}
