<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <span class="pln">
    </span><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"><span class="pln">
    </span><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"><span class="pln">
    </span><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"><span class="pln">
    </span>
    {% load static %}
    <link rel="stylesheet" href="{% static 'gimnasio/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>MTOR-COMPLEX</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'gimnasio:index' %}">MTOR COMPLEX</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item me-5">
                        <a class="nav-link" aria-current="page" href="{% url 'gimnasio:index' %}">Inicio</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="{% url 'gimnasio:about' %}">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="{% url 'gimnasio:alumno-list' %}">Alumnos</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="{% url 'gimnasio:alumno-create' %}">Registrar Alumno</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block contenido %}
    {% endblock contenido %}
</body>
</html>