<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p style="color: brown">Nombre: {{ name }}</p>
    <p style="color: blueviolet">Apellido: {{ apellido }}</p>

    <div style="font-size: larger; color: deepskyblue; text-align: center">
      <h1>Estas son las notas</h1>
      {% for nota in notas %} {% if nota > 6 %}
      <p style="color: green">Aprobado: {{nota}}</p>
      {% else %}
      <p style="color: red">Reprobado: {{nota }}</p>
      {% endif %} {% endfor %}
    </div>
  </body>
</html>
